# Xcode
*.xcuserstate
*.xcscmblueprint
xcuserdata/
*.moved-aside
*.xccheckout
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/
Podfile.lock

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode project user data
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
